* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #2ecc71;
    letter-spacing: 1px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.number-content {
    padding: 10px 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.125);
    border-radius: 4px;
}

.number {
    font-size: 60px;
    font-family: 'Helvetica Neue', 'PingFang TC', 'Heiti TC', '微軟正黑體', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: #2ecc71;
    transition: all .3s;
}

.number.active {
    font-weight: 400;
    letter-spacing: 5px;
    color: #f1c40f
}